/* régle généraux */

/* réglage de la police de Fou */
    @font-face {
        font-family: "text";
        src: url(./text.ttf);
    }

    @font-face {
        font-family: "titre";
        src: url(./titre.ttf);
    }

/* pour supprimer tout les truc chiant genre les espace prêt fait en html et pour pouvoir regler comme je veut ensuite */

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    


/* La je vais mettre mes couleur que je vais utiliser pour ma page web (CV) pas plus de 4 c'est conseiller la pour un sv je vais en mettre 2 on verra si sa change par la suite , je crée aussi se qu'on appelle des variations avec les 2 ( -- ) pour éviter de mettre le code couleur a chaque fois */

        --couleur-header: #eecf6d ;
        --couleur-aside: #8b6220 ;

}
    
body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;

    width: 100vw;
    height: 100vh;
}

aside{
    background-color: var(--couleur-aside);
    width: 22%;
    height: 135vh;
    padding: 20px;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;

    width: 78%;
}

header{
    height: 20vh;
    background-color: brown;
}


#name{

    width: 78vw;
    background-color: var(--couleur-header);
    height: 20vh;
    padding: 20px;

    font-size: 55px;
    
    display: block;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#info{
    width: 100%;
    color: rgb(252, 252, 252);
    
    
   
}

#zonep{

    width: 100vw;
    height: 100vh;
    padding: 20px;


}




#pdp{
    width: 200px;
}

h1{
    font-family: titre;
}

    p{
        color: rgb(6, 7, 0);
        font-family: text;
    

    }


    ul{
        font-family: text;
        padding: 25px;
    }

